@charset "utf-8";

@import url(util.css);

/* Font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{font-family:'bmjua';src:url('../fonts/bmjua.eot');
src: url('../fonts/bmjua.eot?#iefix') format('embedded-opentype'),
url('../fonts/bmjua.woff') format('woff');font-weight:400;font-style:normal}

/* Reset with bootstrap */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'Noto Sans CJK KR','Noto Sans KR','나눔 바른 고딕','맑은 고딕','Malgun Gothic','돋움','Apple SD Gothic Neo',sans-serif}
body{-ms-word-break:break-all;word-break:keep-all;word-wrap:break-word;background:#efefef;color:#2d2d2d}
a{text-decoration:none;color:inherit}
a:hover, a:focus, a:active{text-decoration:none;color:inherit}
a, button, input, textarea{-moz-transition:border-color .4s,background .3s,color .3s,opacity .4s;-webkit-transition:border-color .4s,background .3s,color .3s,opacity .4s;transition:border-color .3s,background .3s,color .3s,opacity .4s,transform .4s}
li{list-style:none}
address,em{font-style:normal}
table{width:100%}
textarea{resize:none}
b, dt, label{font-weight:500}
img{max-width:100%}

/* Helper Classes */
.skip{z-index:100;background:#000;text-align:center;color:#fff}
.skip:active, .skip:focus{position:absolute;width:100%;padding:1em;color:#fff}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.d-iblock{display:inline-block}
.d-block{display:block !important}
.pr{position:relative}
.pa{position:absolute}
.no-style{margin:0;padding:0;border:0;background:none}
.twoline{display:-webkit-box;overflow:hidden;max-height:2.4em;line-height:1.2em;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;white-space:normal}
.hr{margin-top:30px;margin-bottom:30px;border-top-color:#ccc}
.ver-top{vertical-align:top !important}

/* Icon */
[class^=icon-]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;background-size:100%;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em}

/* Typography */
.t1, .t2, .t3, .t4{font-weight:700;line-height:1.1}
.t1{font-size:36px}
.t2{font-size:30px}
.t3{font-size:24px}
.t4{font-size:20px;margin-bottom:1em;font-weight:500}
.t5{font-size:18px}
.t6{font-size:16px}
.fw500{font-weight:500 !important}
.font-bm{font-family:'bmjua','Noto Sans CJK KR','Noto Sans KR','나눔 바른 고딕','맑은 고딕','Malgun Gothic','돋움','Apple SD Gothic Neo',sans-serif}

/* Theme */
.bg-wh{background-color:#fff  !important}
.bg-light-grey{background-color:#fbfbfb !important}
.color-wh{color:#fff !important}
.color-blk{color:#000  !important}
.color-basic{color:#393939  !important}
.color-gray{color:#595959 !important}
.color-grey{color:#898989 !important}
.color-primary{color:#ff4242 !important}
.color-blue{color:#2d6ee6 !important}

/* List */
[class*=lst-bullet-]{line-height:1.4}
[class*=lst-bullet-] li{position:relative;padding-left:1em}
[class*=lst-bullet-] li+li{margin-top:2px}
[class*=lst-bullet-] li:before{position:absolute;left:0}
.lst-bullet-dot li:before{content:"ㆍ"}
.lst-bullet-dash li:before{content:"-"}
.lst-bullet-star li:before{content:"*";top:3px}
.list-float:after, .dl-float:after{content:"";display:block;clear:both}
.list-float li, .dl-float dt{float:left}
.dl-float dt{float:left;margin-right:4px;font-weight:400}
.list-inline{font-size:0;margin:0}
.list-inline>li{padding:0}

/* Grid */
.row,
.form-horizontal .form-group{margin-left:0;margin-right:0}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:0;padding-right:0}
.row-margin{margin-left:-3px;margin-right:-3px}
.row-margin>[class*=col-]{padding-left:3px;padding-right:3px}
.wfull{width:100% !important}
.mxfull{max-width:100% !important}

/* Table */
.tb-fixed{table-layout:fixed}
.tb th, .tb td{padding:13px 10px;font-weight:400;vertical-align:middle;font-size:15px;text-align:center;line-height:1.2}
.tb thead th{border-top:2px solid #2d2d2d}
.tb td{border-top:1px solid #d8d8d8}
.tb tr:last-child td{border-bottom:1px solid #2d2d2d}
.tb .nodata.nodata td{padding:100px 10px;border-bottom:0;text-align:center;color:#999}
.tb-vertical tr>*{padding:10px 0;border-top:1px solid #efefef;vertical-align:top;font-size:15px;line-height:40px;font-weight:400}
.tb-vertical tr:last-child>*{border-bottom:1px solid #2d2d2d}
.tb-frm .form-group{position:relative;margin:0}
.tb-frm .form-group+.form-group{margin-top:10px}
.tb-frm .form-group.d-block, .tb-frm .form-group>.d-block{width:360px}
.tb-frm .form-group-small.form-group-small>.d-block{width:115px}
.tb-vertical.tb-frm tr>*{padding:15px 0}

/* Form */
label{margin-bottom:0;cursor:pointer}
.form-control{height:40px;box-shadow:none !important;border-radius:0 !important;border-color:#d8d8d8;font-size:15px !important;color:#2d2d2d}
.form-control:focus, .has-error .form-control{background-color:#fff;border-color:#ff4242 !important}
.input-lg.input-lg, .input-group-lg .form-control{height:50px;padding:10px 12px}
.form-control:-ms-input-placeholder{opacity:1;color:#999 !important}
.form-control::-moz-placeholder{opacity:1;color:#999}
.form-control::-webkit-input-placeholder{opacity:1;color:#999}
.form-control[disabled], .form-control[disabled]:hover, .form-control[disabled]:focus{background:#efefef;border-color:transparent}
.form-group{margin-bottom:10px}
.radio-label span, .chk-label span{display:inline-block;padding-left:35px;vertical-align:top;font-weight:400;line-height:24px;color:#666}
.radio-label span:before, .chk-label span:before{content:"";float:left;width:24px;height:24px;margin-left:-35px;background-color:#fff;background-repeat:no-repeat;background-position:50% 50%;border-radius:50%;border:1px solid #d8d8d8}
.chk-label span:before{background-image:url(../img/chk.png);background-size:11px auto}
.chk-label input:checked+span:before{background-image:url(../img/chk_on.png);border-color:#ff4242}
.valid-feedback{margin:5px 0 -5px;font-size:13px;font-weight:300;color:#898989}
.has-error .valid-feedback{color:#ff4242}
.input-group{width:100%}
.input-group-btn .btn, .btn.btn-basic{height:auto !important;padding:0 13px !important;line-height:38px;border-radius:0 !important;font-size:15px !important}
.input-group-lg .input-group-btn .btn{line-height:48px}
.control-label{margin:0;padding:10px 0;font-size:15px;color:inherit !important}
.form-group:first-child .control-label{padding-top:0}
.form-control[readonly]{background:#efefef !important;border-color:#efefef !important}
.help-block{margin:0;font-size:14px;color:#666 !important}
/* Form : button */
.btn{padding:17px;border-radius:0;box-shadow:none !important;font-size:18px}
.btn-xs{padding:5px !important;font-size:12px !important}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.active{background:#ff4242;border-color:transparent !important;color:#fff !important}
.btn-primary:active, .btn-primary.focus{background:#ff2828 !important}
.btn-dark, .btn-dark:hover, .btn-dark:focus, .btn-group.dark .btn.btn.active{background:#404b57;border-color:transparent !important;color:#fff !important}
.btn-dark:active{background:#23232d !important;border-color:transparent !important}
.btn-border{border-color:#404b57}
.btn-group{display:block;margin:-5px}
.btn-group>li{padding:5px}
.btn-group .btn{position:relative;float:none;display:block;padding:10px 0;border:1px solid #dcdcdc;font-size:15px;line-height:1.2}
.btn-group.dark .btn:hover, .btn-group.dark .btn:focus{border-color:#23232d !important}
.btn-group-justified>.btn-group{margin:0}
.btn-group-justified label{display:block}
.btn-group-justified>.btn-group .btn{width:auto}
.btn-group-justified>.btn-group+.btn-group .btn{margin-left:-1px}
.btn-group-justified>.btn-group .btn:hover{border-color:#404b57 !important}
.btn-group-justified>.btn-group .btn.active{background:#404b57;border-color:#404b57}
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus{background:#ddd !important}
.btn-group-round{display:block;width:auto;margin:0 -3px}
.btn-group-round:after{content:"";display:block;clear:both}
.btn-group-round>.btn-group{display:block;float:left;width:25%;padding:3px}
.btn-group-round>.btn-group+.btn-group .btn{margin:0}
.btn-group-round .btn{background:#d8d8d8;border-radius:4px !important;color:#fff !important}

/* Navs */
.dropdown-menu{margin:0;padding:15px 0;box-shadow:none;border-radius:0;border-color:#d8d8d8}
.dropdown-menu>li>a{padding:5px;text-align:center;font-size:15px}
.dropdown-menu>li>a:hover{background:none;text-decoration:underline}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{background:none;color:inherit}
.navs{margin:0 -6px}
.nav-justified{display:table;width:100%;table-layout:fixed}
.nav-justified>li{display:table-cell}
.nav-justified>li>a{display:block;margin-bottom:0}
.tab-bx a{position:relative;border:1px solid #d8d8d8;line-height:58px;font-size:16px;text-align:center}
.tab-bx a:hover, .tab-bx a:focus, .btn-group .btn:hover{z-index:1;border-color:#ff4242 !important}
.tab-bx>li+li>a{margin-left:-1px}
.tab-bx>.active>a, .btn-group .btn.active{z-index:1;background:#ff4242;border-color:#ff4242;color:#fff}
.tab-line{border-bottom:1px solid #d8d8d8}
.tab-line>li>a{margin-bottom:-1px;border-bottom:2px solid transparent;font-size:16px;line-height:44px}
.tab-line>li>a:hover, .tab-line>li>a:focus{color:#ff4242}
.tab-line>.active>a{border-bottom-color:#ff4242;font-size:400px;font-size:18px;color:#ff4242}


/* Pagination */
.paging{position:relative;padding:40px 0;text-align:center}
.pagination{margin:0}
.pagination>li>a, .pagination>li>a:hover, .pagination>li>a:focus{width:40px;height:40px;padding:0;margin:0;border-radius:0;background:none;border:0;text-align:center;font-size:15px;line-height:40px;color:#2d2d2d}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus{background:none;color:#ff4242}
.pagination>.prev.prev>a, .pagination>.next.next>a, .other-product .swiper-button-next, .other-product .swiper-button-prev{margin:0 10px;border:1px solid #d8d8d8;border-radius:0;background:url(../img/paging.png) no-repeat 50% 50%;font-size:0;line-height:0;text-indent:-9999em}
.pagination>.next>a, .other-product .swiper-button-next{-webkit-transform:scale(-1,1);transform:scale(-1,1)}
.pagination>.prev.prev>a:hover, .pagination>.next.next>a:hover, .pagination>.prev.prev>a:focus, .pagination>.next.next>a:focus, [class*=icon-ea-]:hover, [class*=icon-ea-]:focus{border-color:#999}
.pagination>.prev.prev>a:active, .pagination>.next.next>a:active, [class*=icon-ea-]:active{background-color:#f9f9f9;border-color:#999}
.pagination>li:first-child a{margin-left:0}

/* Label */
.label{display:inline-block;border:1px solid transparent;background-color:#f2f2f2;font-size:13px;font-weight:400;color:#333}

/* Modal */
.modal-dialog{margin:23vh auto;padding:10px;background:#fff}
.modal-alert .modal-dialog{width:500px}
.modal-alert .modal-content{display:flex;padding:0;border-radius:0;border:0;box-shadow:none;font-size:16px;text-align:center;line-height:24px}
.modal-txt{display:flex;flex:1;min-height:180px;padding:10px 0;margin-bottom:10px;align-items:center;justify-content:center;flex-direction:column}
.modal-txt>*{width:100%}
.modal-txt .t5+p, .modal-txt p+p{padding-top:.625em}
.icon-modal-close{position:absolute;top:20px;right:20px;z-index:5;width:20px;height:20px;background-image:url(../img/icon_modal_close.png);background-size:20px}
.modal-buttons{margin:0 -5px }
.modal-buttons>[class*=col-]{padding-left:5px;padding-right:5px}

/* datepicker */
.datepicker{left:0 !important;right:0;padding:20px;margin-top:10px;border-radius:0;font-size:12px}
.datepicker .table-condensed{table-layout:fixed}
.datepicker:before, .datepicker:after{display:none}
.datepicker-switch{font-size:16px;font-weight:500}
.datepicker-switch span:before{content:".";}
.datepicker tbody>tr>td, .datepicker thead>tr>th{position:relative;padding:7px 0;border-radius:0;font-weight:400;text-align:center;vertical-align:middle}
.datepicker thead>tr>th{padding-bottom:15px}
.datepicker tbody>tr>td{cursor:pointer}
.datepicker thead tr:last-child{display:none}
.datepicker table tr td.new, .datepicker table tr td.old{color:#ddd}
.datepicker .dow{padding-top:20px}
.datepicker table tr td.active.active{background:#ff4242 !important;color:#fff !important}
.datepicker tr td:first-child{color:#ff4242}
.datepicker tr td:last-child{color:#2d6ee6}
.icon-date-prev, .icon-date-next{width:0;height:0;border:1px solid transparent;border-width:6px 8px}
.icon-date-prev{border-right-color:#2d2d2d}
.icon-date-next{border-left-color:#2d2d2d}
.datepicker thead>tr>.prev{text-align:right;cursor:pointer}
.datepicker thead>tr>.next{text-align:left;cursor:pointer}

/* Slider */
.swiper-pagination-fraction{left:50%;bottom:10px;width:40px;margin-left:-20px;background:rgba(45,45,45,.3);line-height:40px;font-size:13px;text-align:center;color:#fff}
.swiper-button-next, .swiper-button-prev{top:auto;bottom:10px;z-index:10;width:20px;height:40px;background:rgba(45,45,45,.3) url(../img/arr_wh.png) no-repeat 50% 50%;background-size:6px auto}
.swiper-button-next{left:50%;margin-left:20px}
.swiper-button-prev{left:auto;right:50%;margin-right:20px;-webkit-transform:scale(-1,1);transform:scale(-1,1)}
.other-product .swiper-pagination-fraction{left:auto;bottom:auto;right:40px;top:0;width:60px;margin:-10px 0 0;background:none;font-size:15px;color:#2d2d2d}
.other-product .swiper-pagination-current{color:#ff4242}
.other-product .swiper-button-next, .other-product .swiper-button-prev{left:auto;top:0;margin:-10px 0 0;width:40px}
.other-product .swiper-button-prev{right:100px;-webkit-transform:none;transform:none}
.other-product .swiper-button-next{right:0}
.other-product .lst-media{margin:0}
.other-product .lst-media>li{float:none;padding:0}


/*-------------------
    PAGES
--------------------*/

/* Layout */
#wrap{overflow:hidden}
#hd{position:fixed;top:0;left:0;right:0;z-index:1100;height:80px;border-bottom:1px solid #d8d8d8;background:#fff}
.nav-open #hd{z-index:40}
#container{padding:100px 0 20px}
.container{width:100%;max-width:1230px}
.layout{max-width:1030px;margin:0 auto;padding-left:15px;padding-right:15px}
.sub-content{padding:40px 15px}
.snb>a{display:inline-block;width:120px;padding:0 8px;border:1px solid #d8d8d8;line-height:28px;vertical-align:top;color:#2d2d2d}
.snb .dropdown-menu{left:auto;right:0;width:120px;min-width:0;padding:0;border-top:0;margin-top:-1px}
.snb .dropdown-menu>li>a{padding:0 8px;line-height:30px;font-size:13px;text-align:left}
/* .snb .dropdown-menu>.active{display:none} */

/* Header */
.header{height:100%;position:relative;text-align:center}
.logo{display:inline-block;margin-top:20px;vertical-align:top}
.logo>a{display:block;width:97px;height:42px;background:url(../img/logo.png) no-repeat;background-size:auto 100%}
.btn-cate{position:absolute;top:50%;left:45px;margin-top:-10px;line-height:20px;font-size:16px;font-weight:500}
.icon-cate{width:20px;height:20px;background-image:url(../img/icon_cate.png);background-size:20px;vertical-align:top}

/* Gnb */
.lyrpop{position:fixed;z-index:50;display:none;background:#fff}
.dim{position:fixed;top:0;left:0;right:0;bottom:0;z-index:40;-webkit-transition:none;transition:none}
.nav-open .dim{background:rgba(0,0,0,.2)}

/* Footer */
#ft{padding:55px 0;background:#23232d;font-size:12px;line-height:1.667;color:#fff}
.fnb{margin-bottom:30px}
.fnb>li{font-size:12px;font-weight:400;color:#fff}
#ft .split:before{border-left-color:#5e5e63}
.fnb .split:before{margin-left:15px;margin-right:15px}
.ft-left{font-weight:100;color:#d8d8d8}
.ft-left .sns{margin-top:40px}
[class*=icon-ft]{width:44px;height:60px;margin-right:20px;background-image:url(../img/social.png);background-size:auto 44px}
.icon-ft-wechat{background-position:0 50%}
.icon-ft-kakako{background-position:0 50%}
.ft-right{text-align:center}
.ft-right>*{display:inline-block;vertical-align:top;font-weight:100;text-align:left}
.ft-right .copy{margin-top:25px;color:#999}


/* main */
.content>.pull-left{width:800px}
.content>.pull-right{width:380px}
.cate-banner{float:left;width:30%}
.main-banner{margin-left:30%}
.bx{padding:30px 20px;background:#fff}
.side-banner{margin-top:7px}
.side-banner>li+li{margin-top:2px}
.lst-media{margin:0 -5px 50px}
.lst-media>li{float:left;width:20%;padding:5px}
.lst-media .media{display:block;border:1px solid #d8d8d8;background:#f9f9f9;text-align:center}
.lst-media .media:hover, .lst-media .media:focus, .lst-media .media:active{border-color:#ff4242}
.lst-media .media:active{background:#d8d8d8}
.lst-media .thumb{padding:20px 10px}
.lst-media .info{padding:15px 10px;background:#fff;line-height:1.3}
.lst-media .color-primary{margin-top:5px;font-size:15px}
.bx-rcmd-list .t3{margin-bottom:15px}
.category .tit{padding:20px;line-height:20px;background:#23232d;font-size:16px;font-weight:500;color:#fff}
.cate-list{position:absolute;top:60px;left:0;bottom:0;display:flex;flex-direction:column;width:30%}
.cate-list>li{display:flex;flex:1}
.cate-list .btn{position:relative;padding:0 20px;height:100%;outline:0;text-align:left;font-size:16px}
.cate-list .btn>span{position:absolute;top:50%;transform:translate(0,-50%)}
.cate-list .btn:after{content:"";position:absolute;top:0;bottom:0;right:20px;width:6px;background:url(../img/arr_wh.png) no-repeat 50% 50%}
.cate-list>li+li .btn{border-top:1px solid #ff2828 !important}
.cate-list>li:hover .dep2, .btn-primary.focus+.dep2{display:block}
.cate-list .dep2{overflow:hidden;overflow-y:auto;position:absolute;left:100%;top:-60px;bottom:0;z-index:10;display:none;width:400px;padding:30px;border:2px solid #ff4242;background:#fff}
.cate-list .dep2>li{width:50%;padding:0 0 15px 0 !important}
.category li:hover .btn{background:#ff2828 !important}
.bx-pay{min-height:300px}
.bx-pay .btn-group{margin:15px -5px}

/*-------------------
    SUB PAGES
--------------------*/

.sub-title{margin-bottom:40px;font-size:16px;text-align:center}
.sub-title p{padding-top:15px}
.breadcrumb{padding:9px 0;margin:-20px 0 0;background:none;border-bottom:1px solid #efefef;line-height:30px;color:#666}
.breadcrumb .layout>li{font-size:13px;vertical-align:top}
.breadcrumb .home:before{content:"";display:inline-block;width:14px;height:30px;margin:0 3px 0 0;background:url(../img/home.png) no-repeat 50% 50%;vertical-align:top}
.breadcrumb .layout>li+li:before{content:"";display:inline-block;width:6px;height:30px;margin:0 9px;background:url(../img/bc.png) no-repeat 50% 50%;vertical-align:top}
.dsc-table dt{font-weight:400}
.dsc-table dt, .dsc-table dd{font-size:15px}
.dsc-table>.clearfix:last-child{border-bottom:1px solid #2d2d2d}

/* login */
.frm{max-width:420px;margin:0 auto;min-height:368px}
.frm .t3{margin-bottom:30px;text-align:center}
.frm .btn-submit{margin-top:30px}
.login-btm{margin-top:25px;line-height:24px; color:#666}
.split:before{content:"";display:inline-block;height:.9em;margin:-1px 10px 0;border-left:1px solid #d8d8d8;vertical-align:middle}

/* member */
.btn-overlap-chk{margin-left:6px !important;background:none;border-color:#ff4242;color:#ff4242 !important}
.btn-overlap-chk>span:last-child, .btn-overlap-chk[disabled]>span:first-child{display:none}
.btn-overlap-chk[disabled]>span:last-child{display:block}
.btn-overlap-chk[disabled], .btn-overlap-chk[disabled]:focus, .btn-overlap-chk[disabled]:hover{background:none !important;border-color:#666;color:#2d2d2d !important;opacity:1;cursor:default}
.input-birth-wrp>*{float:left}
.input-birth-wrp div:not(.form-control-static){width:90px}
.input-birth-wrp .form-control-static{width:calc((100% - 271px)/3);padding:0;line-height:50px;font-size:15px;text-align:center}

/* etc */
.faq-list{border-top:2px solid #2d2d2d;border-bottom:1px solid #2d2d2d}
.faq-list>li+li{border-top:1px solid #d8d8d8}
.faq-list [class*=txt-]{position:relative;display:block;padding:27px 70px 27px 60px;font-size:16px;line-height:1.563;font-weight:500}
.faq-list [class*=txt-]:before{float:left;margin:-3px 0 0 -30px;font-weight:500;font-size:20px}
.txt-q:before{content:"Q."}
.txt-a:before{content:"A."}
.txt-a.txt-a{padding-top:32px;padding-bottom:32px;border-top:1px solid #d8d8d8;background:#f9f9f9;font-weight:400}
.btn-collapse:after{content:"";position:absolute;top:50%;right:30px;width:14px;height:8px;margin-top:-4px;background:url(../img/collapse.png) no-repeat;background-size:14px auto}
.open .btn-collapse:after{-webkit-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}
.collapse-cnt{display:none}
.sns-list{margin-bottom:40px;text-align:center}
.sns-list [class*=icon-]{width:44px;height:44px;margin:0 5px;background-image:url(../img/icon_sns.png);background-size:auto 44px}
.icon-wechat{background-position:0 50%}
.icon-kakao{background-position:100% 50%}
.bx-term{padding:30px;border-top:2px solid #2d2d2d}
.bx-term *:not(.t4){font-size:15px;line-height:1.733;font-weight:400;color:#666}
.bx-term .t4{margin:40px 0 15px}
.bx-term h4{margin:20px 0}
.bx-term .t4:first-child, .bx-term .t4+h4{margin-top:0}

/* SUB-리스트 */
.dropdown-category{margin-left:10px}
.dropdown-category>a{display:inline-block;vertical-align:top}
.dropdown-category .t3:after{content:"";display:inline-block;width:12px;height:8px;margin:10px 0 0 10px;background:url(../img/category.png) no-repeat 50% 50%;background-size:100%;vertical-align:top}
.dropdown-category.open .t3:after{-webkit-transform:scale(1,-1);transform:scale(1,-1)}
.dropdown-category .dropdown-menu{margin-top:-5px}
.category-list.category-list{margin-bottom:0}

/* SUB-내역 */
.filter-area{margin-bottom:20px}
.date-filter .input-group-addon{width:20px;padding:0;border:0;background:none;text-align:center}
.date-filter input.form-control{padding-right:30px;background:#fff url(../img/date.png) no-repeat 100% 50%;background-size:26px auto}

/* SUB-상세 */
.product-title{padding-bottom:20px;margin-bottom:20px;border-bottom:2px solid #2d2d2d;font-size:30px;font-weight:500}
.product-thumb{position:relative;float:left;width:32%;padding-bottom:32%;background:#f9f9f9}
.product-thumb img{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.product-info{float:right;width:64%}
.product-description{margin:60px 0 50px;border:1px solid #2d2d2d;border-width:1px 0;}
.product-description .t4{color:#2d2d2d}
.product-description .sect{padding:35px 0 30px;line-height:1.6;font-size:15px;font-weight:300;color:#666}
.product-description .sect+.sect{border-top:1px solid #d8d8d8}
.tb-product-info+.tb-product-info{margin-top:15px}
.tb-product-info th{vertical-align:middle}
.tb-product-info tr>*{padding-top:15px !important;padding-bottom:15px !important}
.tb-product-info tr:first-child>*{border-top:0 !important;padding-top:0 !important}
.tb-product-info .unit.unit>*{border-bottom-color:#efefef}
.tb-product-info .total.total>*{border-bottom-color:#d8d8d8}
.tb-product-info .total td{font-size:20px;color:#ff4242}
.quantity>*{vertical-align:top}
[class*=icon-ea-]{width:40px;height:40px;border:1px solid #d8d8d8;background-size:10px auto}
.quantity input{width:60px;height:40px;border:0;text-align:center}
.quantity.direct input{width:100px;margin-right:5px;border:1px solid #d8d8d8}
.icon-ea-minus{background-image:url(../img/ea_minus.png)}
.icon-ea-plus{background-image:url(../img/ea_plus.png)}
.buy-button{width:240px;margin:30px auto 0}
.other-product .bx{padding:30px;background:#efefef}

/* SUB-구매 */
.pane{position:relative}
.pane .t4{margin-top:2em}
.submit-button{max-width:495px;margin:40px auto 0}
.submit-button>.btn{width:240px;margin:0 auto}
.submit-button>.row{margin:0 -7px}
.submit-button [class*=col-]{padding:0 7px}
.chk-side{position:absolute;top:5px;right:0}
.qrcode.qrcode{line-height:22px}
.qrcode>p:nth-child(2){font-size:14px;color:#666}
.code-wrp{margin:20px 0}
.code-wrp>*{display:inline-block;vertical-align:middle;font-size:20px;color:#ff4242}
.code-wrp .qr{width:150px;height:150px;margin-right:30px;padding:5px;border:1px solid #d8d8d8}
.code-wrp .time{margin-left:5px;font-size:1.2em}
.code-wrp .btn{width:120px;margin-bottom:20px;border-radius:4px !important}
.box-chk{margin-top:20px;border-top:1px solid #efefef;border-bottom:1px solid #2d2d2d}
.box-chk .box{padding:20px;padding-left:80px;background:#f9f9f9 url(../img/box_chk.png) no-repeat 31px 50%}
.box-chk .box.nochk{background-image:url(../img/box_chk_off.png)}
.box-chk .box+.box{margin-top:10px}
.box-chk .btn{width:60px;margin-left:3px;border-radius:4px !important}


@media (min-width:641px) {
	.visible-xxs{display:none}
}

@media (min-width:768px) {
	.snb>a:after{content:"";float:right;width:6px;height:4px;margin-top:12px;background:url(../img/drop.png) no-repeat;vertical-align:middle;opacity:.8}

	/* SUB-내역 */
	.date-filter{float:left;width:-webkit-calc(100% - 240px);width:calc(100% - 240px);min-width:450px}
	.date-filter .col-sm-3:first-child{padding-right:10px}
	.date-filter .col-sm-3:last-child{padding-left:10px}
	.state-filter{float:right;width:120px}
	.tb-purchase thead th{position:relative;padding:20px 10px;background:#f9f9f9}
	.tb-purchase thead th+th:before{content:"";position:absolute;top:50%;left:0;height:20px;margin-top:-10px;border-left:1px solid #d8d8d8}
	.tb-purchase .btn-xs{margin-top:5px;border-radius:3px !important}
	.tb-purchase tbody td{height:80px}
	.tb-product-info .btn-group{max-width:470px}

	/* SUB-상세 */
	.dropdown-crumb .dropdown-menu>li>a>span:not(:last-child){display:none}
	.quantity input:-ms-input-placeholder{opacity:0 !important}
	.quantity input::-moz-placeholder{opacity:0}
	.quantity input::-webkit-input-placeholder{opacity:0}

	/* SUB-구매 */
	.tb-product-cart .thumb{padding:0;width:145px;height:145px;background:#f9f9f9}
	.tb-product-cart .name{padding:10px 30px;text-align:left}
	.tb-product-cart .color-primary{font-size:20px}
	.step>ol{position:relative;overflow:hidden;display:table;width:100%;position:relative;table-layout:fixed;border:1px solid #d8d8d8;border-width:0 1px}
	.step:before, .step:after{content:"";position:absolute;left:50%;width:100vw;z-index:2;height:1px;border-top:1px solid #d8d8d8;-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
	.step:before{top:0}
	.step:after{bottom:0}
	.step li{position:relative;display:table-cell;height:58px;border:1px solid #d8d8d8;border-width:1px 0;background:#f9f9f9;text-align:center;font-size:15px;vertical-align:middle}
	.step li:not(:last-child):before, .step li:not(:last-child):after{content:"";position:absolute;top:-3px;left:100%;width:0;right:0;z-index:1;border:1px solid transparent;border-width:31px 20px}
	.step li:not(:last-child):before{border-left-color:#d8d8d8}
	.step li:not(:last-child):after{top:-2px;border-width:30px 20px;margin-left:-1px;border-left-color:#f9f9f9}
	.step small{font-size:13px}
	.step .active{background:#404b57;border-color:#404b57;color:#fff}
	.step .active.active:after, .step .active.active:before{border-left-color:#404b57}
	.tb-frm .form-group>.d-block+.valid-feedback{position:absolute;top:0;right:0;display:flex;width:50%;width:50%;height:40px;padding-left:10px;align-items:center;flex-wrap:wrap;margin:0;line-height:1.1}
	.tb-frm .form-group>.d-block+.valid-feedback .help-block{flex-basis:100%}
	.tb-frm .form-group-small.form-group-small>.d-block+.valid-feedback{width:-webkit-calc(100% - 115px);width:calc(100% - 115px)}
}

@media (min-width:992px) {
	/* header */
	.left-side{position:absolute;top:50%;right:5px;margin-top:-14px;line-height:28px;font-size:12px;font-family:'돋움','dotum',sans-serif}
	.left-side>*{display:inline-block;vertical-align:top}
	.drop-lang{margin:-10px 0 0 10px}
	.drop-lang>a{display:block;padding:9px 10px 0;border:1px solid transparent;border-bottom:0;transition:none}
	.drop-lang.open a{border-color:#d8d8d8}
	.drop-lang img{margin-right:8px;vertical-align:top}
	.lang-dropdown-menu .active{display:none}
	.drop-lang>a:after{content:"";display:inline-block;width:6px;height:4px;margin:-1px 0 0 9px;background:url(../img/drop.png) no-repeat;vertical-align:middle}
	.lang-dropdown-menu{left:0;right:0;min-width:0;padding:5px 0;border-top:0}
	.lang-dropdown-menu>li>a{padding:5px 10px;font-size:12px;line-height:28px;text-align:left}
	.util a{font-size:12px}
	.util li+li:before{content:"";display:inline-block;width:1px;height:12px;margin:8px 10px;background:#d8d8d8;vertical-align:top}
	.util [class*=icon]{height:13px;margin:-2px 5px 0 0}
	.icon-login{width:14px;background-image:url(../img/icon_login.png)}
	.icon-order{width:12px;background-image:url(../img/icon_order.png)}
	.icon-my{display:none}
	.icon-cate{margin-right:20px}
	/* gnb */
	#gnb{top:100px;left:50%;width:800px;min-height:430px;padding:30px;margin-left:-615px;border:1px solid #ff4242;font-size:15px}
	#mypage, #mypage+.dim{display:none !important}
	.lyr-title{margin-bottom:28px;font-size:20px;font-weight:700}
	.depth>a{display:none}
	.icon-close{position:absolute;top:20px;right:30px;width:20px;height:20px;background-image:url(../img/icon_close.png)}
	.dep2{padding:30px 0}
	.dep2>li{float:left;width:25%;padding:0 0 18px 25px}
	.index .btn-cate{display:none}

	/* SUB */
	.bx-min{min-height:700px}
	.step li{font-size:17px}
	.tb-frm .form-group>.d-block+.valid-feedback{width:-webkit-calc(100% - 360px);width:calc(100% - 360px)}
	.dsc-table dl{float:left;display:table}
	.dsc-table>.clearfix+.clearfix dt{display:none}
	.dsc-table dt, .dsc-table dd{padding:13px 10px;font-weight:400;vertical-align:middle;text-align:center;line-height:1.2}
	.dsc-table dt{border-top:2px solid #2d2d2d;background:#f9f9f9}
	.dsc-table dd{position:relative;display:flex;height:100px;padding:25px 12px;border-top:1px solid #d8d8d8;align-items:center;justify-content:center}
	.dsc-table dd>.basis{flex-basis:100%}

	.dsc-product dl{;width:-webkit-calc((55% - 1px)/3);width:calc((55% - 1px)/3)}
	.dsc-product .payment, .dsc-product .output{width:45%}
	.dsc-product .fee dd:before, .dsc-table .total dd:before{content:"";position:absolute;left:0;top:50%;width:24px;height:24px;margin:-12px 0 0 -12px;background-repeat:no-repeat}
	.dsc-product .fee dd:before{background-image:url(../img/plus.png)}
	.dsc-product .total dd:before{background-image:url(../img/equals.png)}
	.dsc-product .total dd{font-size:20px;color:#ff4242}
}

@media (max-width:1279px) and (min-width:992px) {
	.content>.pull-left{width:66.67%}
	.content>.pull-right{width:31.67%}
	#gnb{left:15px;margin-left:0}
	.lst-media>li{width:25%}
}

@media (max-width:991px) {
	body{background:#fff}
	#container{padding:50px 0 0}

	.tb-frm .form-group.d-block, .tb-frm .form-group>.d-block{width:50%}
	.btn-group-round>.btn-group{width:50%}

	/* header */
	#hd{height:50px}
	.btn-cate{top:0;bottom:0;left:0;padding:15px;margin:0;font-size:0;line-height:0;text-indent:-999em;color:transparent;line-height:20px}
	.icon-my{position:absolute;top:0;bottom:0;right:0;width:49px;background-image:url(../img/icon_my.png);background-size:19px auto}
	.logo{margin-top:11px}
	.logo>a{width:65px;height:28px}

	/* gnb */
	.lyrpop{top:0;bottom:0;width:100%}
	.icon-close{position:absolute;top:0;right:0;width:58px;height:60px;background-image:url(../img/icon_close_wh.png);background-size:18px}
	.nav-open #wrap{position:fixed;left:0;right:0}
	.lyr-title{padding:0 20px;line-height:60px;background:#ff4242;font-size:16px;color:#fff}
	.lyr-title .user{overflow:hidden;display:inline-block;max-width:38vw;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
	.lyr-title:before{content:"";display:inline-block;height:22px;margin:-3px 15px 0 0;background-repeat:no-repeat;background-position:0 50%;background-size:100% auto;vertical-align:middle}
	#gnb .lyr-title:before{width:18px;background-image:url(../img/gnb.png)}
	#mypage .lyr-title:before{width:19px;background-image:url(../img/mypage.png)}
	.lyr-title a{display:inline-block;width:70px;margin:-4px 0 0 10px;border:1px solid #fff;line-height:23px;text-align:center; font-size:12px;font-weight:400;vertical-align:middle}
	.lyr-wrp{overflow:hidden;overflow-y:auto;height:-webkit-calc(100% - 60px);height:calc(100% - 60px)}
	.gnb.tab-content>.tab-pane{display:block}
	.lyr-wrp>li>a{position:relative;display:block;padding:0 20px;line-height:50px;font-size:14px;font-weight:500}
	.lyr-wrp>li>a:after{content:"";position:absolute;top:50%;right:20px;width:12px;height:6px;margin-top:-3px;background:url(../img/depth.png) no-repeat 50% 50%;background-size:auto 100%}
	.lyr-wrp>li:not(.depth)>a:after{-webkit-transform:rotate(-90deg)}
	.depth>a.on:after{-webkit-transform:scale(1,-1);transform:scale(1,-1)}
	.dep2, .dep-lang{display:none;padding:0 20px 25px;background:#f9f9f9}
	.dep2>li{float:left;width:50%}
	.dep2>li:nth-child(-n+2){padding-top:25px}
	.dep2>li:nth-child(2)~li{padding-top:15px}
	.dep-lang{padding:0 20px;font-size:13px}
	.dep-lang a{position:relative;display:block;line-height:45px}
	.dep-lang>li+li{border-top:1px solid #d8d8d8}
	.dep-lang .active a:after{content:"";position:absolute;top:50%;right:0;width:12px;height:10px;margin-top:-5px;background:url(../img/m/chk.png) no-repeat;background-size:12px auto}
	.dep-lang .active a{color:#ff4242}

	/* main */
	.container.content{padding-left:0;padding-right:0}
	.bx{padding:20px 15px}
	.index .bx{border-top:10px solid #efefef}
	.content>.pull-left, .content>.pull-right{float:none !important;width:auto}
	.bx-pay{min-height:0}

	/* sub */
	.frm{padding:50px 15px}
	.breadcrumb{margin-top:0}
	.other-product .bx{padding:30px 15px}
	.step{margin-left:-15px;margin-right:-15px}
	.step>ol{border:0}
	.dsc-table dt{float:left}
	.dsc-table dd{margin-left:75px;padding-bottom:15px;text-align:right;font-weight:500}

	/* SUB-구매 */
	.dsc-product .payment>*{float:none}
	.dsc-product .payment dt{display:none}
	.dsc-product .payment>dd{padding:15px 0;margin:0 0 15px 0;border-top:2px solid #2d2d2d;border-bottom:1px solid #999}
}

@media (max-width:767px) {
	.tb-vertical td{padding-right:15px}
	.tb-vertical:not(.tb-block) td{text-align:right;font-weight:500}
	.tb-block caption, .tb-block colgroup{display:none}
	.tb-block body, .tb-block tr, .tb-block tr>*{display:block;line-height:1.42857143;border:0}
	.tb-block.tb-block th{padding:20px 0 10px;border:0 !important}
	.tb-block.tb-block td{padding:0;padding-right:15px}
	.tb-block.tb-block tr:last-child>td{padding-bottom:20px}
	.tb-block .valid-feedback{margin-bottom:-10px}
	.help-block{font-size:12px}
	.tb-vertical tr>*{padding-top:8px;padding-bottom:8px;border:0;font-size:14px;line-height:1.2}
	.tb-vertical:not(.tb-block) tr:first-child>*{padding-top:20px}
	.tb-vertical:not(.tb-block) tr:last-child>*{padding-bottom:20px}

	/* footer */
	#ft{padding:30px 10px 20px;font-size:11px;line-height:1.818}
	.fnb>li{font-size:11px}
	.fnb .split:before{margin-left:10px;margin-right:10px}
	.fnb{margin:15px 0 20px}
	.ft-left .sns{margin:20px 0}
	[class*=icon-ft]{width:32px;margin-right:15px;height:32px;background-image:url(../img/m/social.png);background-size:auto 32px}
	.ft-right>.wrp{display:block;margin:0 -25px;padding:20px 25px;border-top:1px solid #3b3b43}


	/* main */
	.lst-media{margin:0 0 20px}
	.lst-media>li{width:100%;padding:0}
	.lst-media>li+li{margin-top:5px}
	.lst-media .media{display:table;width:100%;table-layout:fixed}
	.lst-media .thumb, .lst-media .info{display:table-cell;vertical-align:middle;padding:15px;font-size:16px}
	.lst-media .thumb{width:100px}
	.lst-media .info{text-align:left}

	.sub-content{padding:0 0 45px 15px}
	.breadcrumb:not(.dropdown-crumb), .payment-crumb{display:none}
	.sub-title .t2{padding:.9em;margin:0 -15px 20px;border-bottom:1px solid #d8d8d8}
	.sub-content .sub-title .t2{margin-right:0}
	.icon-back{position:absolute;top:0;bottom:0;left:0;width:42px;background-image:url(../img/m/icon_back.png);background-size:auto 20px}

	/* etc */
	.bx-term{border:0;padding:0 15px 15px 0}
	.sns-list [class*=icon-]{width:32px;height:32px;margin:0 7px;background-image:url(../img/m/icon_sns.png);background-size:auto 32px}

	/* SUB-내역 */
	.btn-more{width:200px;margin:0 auto}
	.filter-area{margin-bottom:0}
	.date-filter{position:relative;padding:30px 15px;padding-right:125px;margin:0 -15px;background:#f9f9f9;border-bottom:1px solid #d8d8d8}
	#dateFilter{margin-top:10px}
	.date-filter .col-sm-3{position:static}
	.date-filter .btn-basic{position:absolute;top:30px;right:15px;bottom:30px;width:100px}
	.state-filter{text-align:right}
	.state-filter .form-control{display:inline-block;width:auto;border:0}
	.tb-purchase colgroup, .tb-purchase thead{display:none}
	.tb-purchase, .tb-purchase tbody, .tb-purchase tr, .tb-purchase td{display:block}
	.tb-purchase td{padding:0;border:0 !important;text-align:left;line-height:1.923;font-size:16px}
	.tb-purchase{margin-right:-15px;width:auto;border-top:2px solid #2d2d2d}
	.tb-purchase tr:last-child:not(.nodata){border-bottom:1px solid #2d2d2d}
	.tb-purchase tr+tr{border-top:1px solid #d8d8d8}
	.tb-purchase tr{position:relative;padding:20px 15px 20px 0}
	.tb-purchase .no{font-weight:500}
	.tb-purchase .no:before{content:"구매번호 ";}
	.tb-purchase .date{position:absolute;top:20px;right:15px;color:#666}
	.tb-purchase .product{padding-top:.938em}
	.tb-purchase .payment{padding-bottom:.938em}
	.tb-purchase .payment>*{display:inline}
	.tb-purchase .payment>*+*:before{content:"/";margin-right:4px}
	.tb-purchase .color-blue{float:right;line-height:30px}
	.tb .nodata.nodata td{padding:70px 10px;font-size:14px}

	/* SUB-상세 */
	.dropdown-crumb>.layout>li:not(.snb), .snb:before{display:none !important}
	.dropdown-crumb{border:0;padding:0}
	.snb{display:block !important;margin:0 -15px}
	.snb>a{display:block;width:auto;padding:.9em;border:0;border-bottom:1px solid #d8d8d8;font-size:16px;line-height:1.1;font-weight:700;text-align:center}
	.snb>a:after{content:"";display:inline-block;width:7px;height:4px;margin:-3px 0 0 5px;background:url(../img/m/cate.png) no-repeat;background-size:7px auto;vertical-align:middle}
	.snb.open>a:after{-webkit-transform:scale(1,-1);transform:scale(1,-1)}
	.snb .dropdown-menu{left:0;width:auto;margin:0;border:0}
	.snb .dropdown-menu>li>a{padding:0 15px;background:#f9f9f9;font-size:11px;line-height:35px;color:#2d2d2d;pointer-events:none}
	.snb .dropdown-menu>li{border-bottom:1px solid #d8d8d8}
	.snb .dropdown-menu>li:not(.active){display:none}
	.snb .dropdown-menu>li>a>span:last-child{font-weight:700}
	.snb .dropdown-menu>li>a>span+span:before{content:"";display:inline-block;width:6px;height:10px;margin:-2px 10px 0;background:url(../img/m/bc.png) no-repeat;background-size:auto 10px;vertical-align:middle}
	.product-detail.product-detail{padding:0 0 122px}
	.product-thumb{float:none;width:100%;padding:0;height:300px}
	.product-info{float:none;width:auto;padding-left:15px}
	.product-title{padding-top:25px;color:#2d2d2d}
	.product-description{margin:0 0 20px 15px;padding-right:15px}
	.other-product{padding:0 15px}
	.other-product .bx{padding:0;background:none}
	.other-product .swiper-pagination-fraction, .other-product .swiper-button-next, .other-product .swiper-button-prev{display:none !important}
	.other-product .swiper-container{overflow:visible}
	.other-product .swiper-wrapper{display:block;transform:none !important}
	.buy-button{position:fixed;left:0;right:0;bottom:0;z-index:30;width:auto;padding:15px;background:#fff;border-top:1px solid #dcdcdc;box-shadow:0 0 30px rgba(0, 0, 0, .1)}
	.tb-product-info .total th{font-size:20px;color:#ff4242}
	.tb-product-info .total.total>*{border-bottom:0}
	.bx .sub-title{margin-top:-20px;margin-bottom:0}
	.bx .sub-title .t2{margin-bottom:0}

	/* SUB-구매 */
	.step{margin-right:0;margin-top:-40px}
	.step li{padding:0 15px;background:#404b57;font-size:16px;line-height:45px;color:#fff}
	.step li:before{content:attr(data-num)}
	.step li:not(.active), .step small, .tb-product-cart caption, .tb-product-cart colgroup, .tb-product-cart thead, .tb-product-cart .unit br{display:none}
	.step .total{float:right;font-size:.929em}
	.tb-product-cart, .tb-product-cart tbody, .tb-product-cart tr, .tb-product-cart tr>*{display:block;padding:0;border:0;text-align:left}
	.tb-product-cart tr:last-child td{border:0}
	.tb-product-cart{margin-top:20px;border-top:2px solid #2d2d2d;border-bottom:1px solid #2d2d2d}
	.tb-product-cart tr+tr{border-top:1px solid #d8d8d8}
	.tb-product-cart tr{position:relative;display:flex;width:100%;align-items:center;flex-wrap:wrap;min-height:100px;padding:14px;padding-left:115px;line-height:1.3}
	.tb-product-cart .name, .tb-product-cart .color-primary{overflow:hidden;flex-basis:100%}
	.tb-product-cart .name{margin-bottom:2px}
	.tb-product-cart .thumb{position:absolute;display:flex;top:0;bottom:0;left:0;width:100px;padding:15px;align-items:center;justify-content:center;background:#f9f9f9}
	.tb-product-cart .unit, .tb-product-cart .num{display:inline}
	.tb-product-cart .color-primary{margin-top:5px;font-size:15px}
	.tb-product-info:not(.tb-block) tr>*{border-top:1px solid #efefef;line-height:40px}
	.chk-side{top:0;right:15px}
	.tb-frm .form-group.d-block, .tb-frm .form-group>.d-block{display:block !important;width:100% !important}
	.pane .t4{margin-bottom:0;font-weight:700}
	.dsc-product{margin-top:20px}
	.dsc-product .payment>dd, .dsc-table dd{padding-right:15px}
	.box-chk{border-top:0}
	.box-chk .box{margin-left:-15px;padding-left:42px;background-image:url(../img/m/box_chk.png);background-size:12px;background-position:15px 24px}
	.box-chk .box.nochk{background-image:url(../img/m/box_chk_off.png)}
}

@media (max-width:640px) {
	body{font-size:13px}

	.hidden-xxs{display:none}

	.t1{font-size:24px}
	.t2, .t3{font-size:16px}
	.t4{font-size:15px}
	.bx-term .t4, .t5{font-size:14px}

	.datepicker.datepicker{right:auto !important;width:-webkit-calc(100vw - 30px);width:calc(100vw - 30px);margin-top:5px;padding:15px}
	.tb-vertical:not(.tb-block) th{font-size:13px}

	/* navs */
	.tab-line>li>a, .tab-line>.active>a{font-size:14px;line-height:34px}
	.dropdown-menu{min-width:130px;padding:7px 0}
	.dropdown-menu>li>a{font-size:13px}
	.paging{padding:30px 0}
	.btn-more.btn-more{width:140px;padding:8px;font-size:13px}

	/* form */
	.form-control{font-size:13px !important}
	.form-group{margin-bottom:5px}
	.valid-feedback, .help-block{margin-bottom:0;font-size:11px}
	.input-lg.input-lg, .input-group-lg .form-control{height:45px;padding:10px 12px}
	.radio-label span, .chk-label span{padding-left:30px;line-height:20px;font-size:12px}
	.radio-label span:before, .chk-label span:before{width:20px;height:20px;margin-left:-30px}
	.btn{padding:12px;font-size:14px}
	.btn-group{margin:-3px}
	.btn-group>li{padding:3px}
	.btn-group .btn{padding:7px 0;font-size:13px}
	.control-label{font-size:14px}
	.btn.btn-basic{line-height:30px;font-size:13px !important}
	.btn-group-round .btn{padding:9px 0;font-size:14px}
	.tb-block.tb-block th .help-block{margin:3px 0 -5px}
	.btn-xs{padding:3px 5px !important}

	/* modal */
	.modal-alert .modal-dialog{width:auto;margin-left:15px;margin-right:15px}
	.modal-alert .modal-content{font-size:13px;line-height:18px}
	.modal-txt{min-height:160px;padding-top:15px}
	.modal-buttons{margin:0 -3px}
	.modal-buttons>[class*=col-]{padding-left:3px;padding-right:3px}
	.icon-modal-close{top:15px;right:15px}

	/* main */
	.main-banner{margin-left:0}
	.bx-pay .btn-group{margin:17px -3px}
	.lst-media .info, .dsc-table dt{font-size:13px}

	/* sub */
	.sub-title{margin-bottom:25px}
	.sub-title p{padding:0 15px 0 0;font-size:12px}
	.dsc-table dt, .dsc-table dd{line-height:20px}
	.dsc-table dd{font-size:14px}

	/* login */
	.bx-login .t3{font-size:25px}
	.frm .btn-submit{padding:11px;margin-top:15px;font-size:16px}
	.login-btm{margin:15px 10px 0;line-height:20px;font-size:12px}

	/* member */
	.frm-title.frm-title{padding:.9em;margin:0 -15px 20px;border-bottom:1px solid #d8d8d8}
	.frm:not(.bx-login){max-width:none;padding:0 15px 30px}
	.input-chk-id .input-group{position:relative;display:block}
	.input-chk-id .form-control{float:none;padding-right:85px}
	.input-chk-id .input-group-btn{position:static}
	.input-chk-id .btn-overlap-chk.btn-overlap-chk{position:absolute;top:50%;right:10px;padding:0 7px !important;margin:-13px 0 0;line-height:24px;font-size:12px !important}
	.input-birth-wrp{margin:0 -3px}
	.input-birth-wrp .form-control-static{display:none}
	.input-birth-wrp.input-birth-wrp>div{width:-webkit-calc(100%/3);width:calc(100%/3);padding:0 3px}

	/* etc */
	.sns-list{padding-right:15px;margin-bottom:25px}
	.faq-list [class*=txt-], .faq-list [class*=txt-]:before{font-size:14px}
	.faq-list [class*=txt-]{padding:30px 40px 30px 20px}
	.faq-list [class*=txt-]:before{margin:0 0 0 -20px}
	.txt-a.txt-a{margin-left:-15px;padding-left:35px;border-top:0;font-size:12px}
	.btn-collapse:after{right:15px}
	.bx-term *:not(.t4){font-size:12px}
	.bx-term h4{margin:15px 0}
	.bx-term .t4{margin-top:25px}

	/* SUB-상세 */
	.product-detail.product-detail{padding-bottom:95px}
	.product-thumb{height:150px}
	.product-description .sect{padding:20px 0 15px;font-size:12px}
	.tb-product-info .total.total>*{font-size:14px}
	[class*=icon-ea-]{width:25px;height:25px}
	.quantity input{width:40px;height:25px}
	.tb-product-info:not(.tb-block) tr>*{line-height:25px}
	.product-title{padding-bottom:15px;padding-bottom:15px}
	.buy-button .btn{padding:11px;font-size:16px}
	.quantity.direct input{width:200px;height:45px;padding:2px 15px;margin:0;font-size:13px;text-align:right}

	/* SUB-리스트 */
	.dropdown-category{margin-left:0}
	.dropdown-category .t3:after{width:6px;height:4px;margin:6px 0 0 6px}

	/* SUB-내역 */
	.tb-purchase .date{top:22px}
	.tb-purchase td{font-size:13px}
	.tb-purchase .no, .dsc-product .color-primary{font-size:15px}
	.date-filter{padding:15px;padding-right:95px}
	#dateFilter{margin-top:5px}
	.date-filter .btn-basic{top:15px;bottom:15px;width:75px}
	.tb-purchase .color-blue{line-height:26px}

	/* SUB-구매 */
	.tb-product-cart tr>*{font-size:13px}
	.step{margin-top:-25px}
	.step li{font-size:14px}
	.qrcode.qrcode{line-height:1.4;font-size:12px}
	.qrcode>p:nth-child(2){margin-top:3px;font-size:11px}
	.code-wrp{margin-bottom:10px;text-align:center}
	.code-wrp>*{display:block;font-size:14px}
	.code-wrp strong{font-size:20px}
	.code-wrp .qr{width:100px;height:100px;margin:0 auto 10px}
	.submit-button{margin-top:30px;padding-right:15px}
	.submit-button .row{margin:0 -3px}
	.submit-button [class*=col-]{padding:0 3px}
	.code-wrp .btn{width:100px;margin:10px 0}
	.submit-button>.btn{width:140px}
	.box-chk .box+.box{margin-top:5px}
	.box-chk .btn{border-radius:0 !important}
	.box-chk .fw500{font-size:14px}
}






